.btn {
    width: 290px;
    height: 50px;
    border-radius: 64px;
    background-color: #fff;
    border: #fff;
    font-size: 16px;
    font-weight: 500;
    align-items: center;
    &--mini {
        width: 204px;
        border-radius: 100px;
    }
    &--load-more {
        background-color: #000;
        border: 2px solid #313131;
        color:#fff;
        font-weight: 300;
    }
}