.dropdown {
    display: none;
    margin-top: 30px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
    &--active {
        display: block;
        opacity: 1;
        visibility: visible;
    }
    &--fil1-active {
        display: block;
        opacity: 1;
        visibility: visible;
    }
    &--fil2-active {
        display: block;
        opacity: 1;
        visibility: visible;
    }
    &__list {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        column-gap: 14px;
        row-gap: 10px;
        list-style-type: none;
    }
    &__item {
        display: flex;
    }
}
.dropdown-mob {
    display: none;
    width: 35%;
    position: relative;
    background-color: #fff;
    border-radius: 10px;
    padding: 36px;
    &__list {
        column-count: 2;
        column-gap: 40px;
    }
    &__item {
        display: flex;
        align-items: center;
        gap: 0 10px;
        margin-bottom: 5px;
    }
    &__reset {
        margin-top: 20px;
        font-weight: 500;
        font-size: 16px;
        background-color: #fff;
        border: none;
    }
    &__close {
        position: absolute;
        right: 20px;
        top: 10px;
    }

}
.list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}
