.dropdown {
    display: none;
    margin-top: 30px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
    &--active {
        display: block;
        opacity: 1;
        visibility: visible;
    }
    &--fil1-active {
        display: block;
        opacity: 1;
        visibility: visible;
    }
    &--fil2-active {
        display: block;
        opacity: 1;
        visibility: visible;
    }
    &__list {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        column-gap: 14px;
        row-gap: 10px;
        list-style-type: none;
    }
    &__lable {
        position: relative;
    }
    &__item {
        display: flex;
    }
    &__checkbox {
        position: absolute;
        top: 50%;
        left:50%;
        transform: translate(-50%, -50%);
        width: auto;
        height: auto;
        display: block;
        opacity: 0;
        z-index: 2;
        // appearance: none;
    }
    &__inner {
        display: block;
        position: relative;
        font-weight: 500;
        font-size: 16px;
        color: $gray-text;
        border-radius:46px;
        border: 2px solid #313131;
        padding: 17px 36px 16px 36px;       
    }
}
.list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}
.dropdown__checkbox:checked + .dropdown__inner {
    background-color: $gray-text;
    color: #fff;
}