.scroll-menu {
    margin-top: 137px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
}
.filter {
    display: flex;
    justify-content: space-between;
    min-height: 30px;
    &__wrapper {
        display: flex;
        column-gap: 31px;
    }
    &__sort {
        display: flex;
    }
    &__sort-btn {
        background-color: #000;
        border: none;
        display: flex;
        justify-content: center;
        font-weight: 400;
        font-size: 16px;
        color: $gray-text;
        text-align: center;
        &--mr50 {
            margin-right: 50px;
        }
    }
    &__reset {
        background-color: #000;
        border: none;
        display: flex;
        justify-content: center;
        font-weight: 400;
        font-size: 16px;
        color: #fff;
        text-align: center;
    }
    &__btn {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 15px;
        background-color: #000;
        border: none;
    }
    &__img {
        &--inverted {
            transform: rotate(180deg);
        }
    }
    &__title {
        font-weight: 400;
        font-size: 16px;
        color: #fff;
        text-align: center;
    }
}