.filter {
    &__menu {
        list-style-type: none;
        
    }
    &__btn {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 15px;
        background-color: #000;
        border: none;
    }
    &__img {
        &--inverted {
            transform: rotate(180deg);
        }
    }
    &__title {
        font-weight: 400;
        font-size: 16px;
        color: #fff;
        text-align: center;
    }
}
.dropdown {
    margin-top: 30px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    &--active {
        opacity: 1;
        visibility: visible;
    }
    &__list {
        list-style-type: none;
    }
    &__lable {
        position: relative;
    }
    &__item {
        display: flex;
        align-items: center;
        column-gap: 14px;
    }
    &__checkbox {
        position: absolute;
        top: 50%;
        left:50%;
        transform: translate(-50%, -50%);
        width: auto;
        height: auto;
        display: block;
        opacity: 0;
        z-index: 2;
        // appearance: none;
    }
    &__inner {
        display: block;
        position: relative;
        font-weight: 500;
        font-size: 16px;
        color: $gray-text;
        border-radius:46px;
        border: 2px solid #313131;
        padding: 17px 36px 16px 36px;       
    }
}

.dropdown__checkbox:checked + .dropdown__inner {
    background-color: $gray-text;
    color: #fff;
}