.header {
    display: flex;
    justify-content: space-between;
    &__title {
        width: 523px;
        text-align-last: left;
        margin-bottom: 0;
    }
    &__template {
        min-height: 151px;
        padding: 40px 40px 0 40px;
    }

}