.portfolio {
    background-color: #000;
    padding: 0 30px;
}
.portfolio-grid {
    min-height: 1850px;
    position: relative;
    &__item {
        margin: 10px 10px;
        width: 445px;
    }
    &__link {
      display: block;  
    }
    &__img {
        border-radius: 10.5px;
    }
}
.portfolio-grid__item.is-visible {
    display: block;
}