.portfolio {
    column-count: 4;
    column-gap: 20px;
    &__grid {
        width: 100%;
        break-inside: avoid;
        margin-bottom: 20px;
    }
    &__img {
        width: 100%;
        display: block;
    }
}
