.promo {
    min-height: 754px;
    background: #000 url('../img/main_bg.jpg') 188px (-6px/cover) no-repeat;
    padding: 40px 40px 0 40px;
    display: flex;
    flex-direction: column;
    row-gap: 65px;
    &__descr {
        margin-left: 465px;
        width: 445px;
        font-size: 18px;
        font-weight: 400;
        color: #fff;
    }
}