.template-case {
    padding: 100px 100px 40px 100px;
    display: flex;
    flex-direction: column;
    gap: 40px 0;
    &__img {
        display: block;
        width: 100%;
        border-radius: 10px;
        overflow: hidden;
        &-w50 {
            width: 49%;
        }
    }
    &__wrapper {
        display: flex;
        gap: 0 40px;
    }
    &__contents {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 100px 0;
    }
    &__title {
        font-weight: 500;
        font-size: 40px;
        color: #000;
        margin-bottom: 30px;
    }
    &__descr {
        font-weight: 400;
        font-size: 18px;
        color: #000;
    }
    
}