.title {
    color: #fff;
    font-size: 70px;
    font-weight: 500;
    &--gray {
        color: $gray-text;
    }
    &--mr147 {
        margin-right: 147px;
    }
    &--mini {
        font-weight: 400;
        font-size: 18px;
        color: $gray-text;
    }
    &--middle {
        font-size: 50px;
        text-decoration: none;
    }
}